$white: #fff;
$violet: #7c68cb;
$grey: #676e74;

$animSpeed: 0.3s;

@mixin img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
@mixin img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@mixin img-fill {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}
@mixin abs-top-left-zero {
  position: absolute;
  top: 0;
  left: 0;
}
@mixin prod-card-padding {
  padding: 0 20px;
  @media (max-width: 767.98px) {
    padding-left: calc(18px + (20 - 18) * ((100vw - 320px) / (767.98 - 320)));
    padding-right: calc(18px + (20 - 18) * ((100vw - 320px) / (767.98 - 320)));
  }
}
@mixin prod-card-margin {
  margin: 0 20px;
  @media (max-width: 767.98px) {
    margin-left: calc(18px + (20 - 18) * ((100vw - 320px) / (767.98 - 320)));
    margin-right: calc(18px + (20 - 18) * ((100vw - 320px) / (767.98 - 320)));
  }
}
[data-aos="opacity-anim"] {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;

  &.aos-animate {
    opacity: 1;
  }
}
[data-aos="cstm-fade-up"] {
  opacity: 0;
  transform: translateY(20px);
  transition-property: opacity, transform;
  transition-duration: 0.8s;

  &.aos-animate {
    opacity: 1;
    transform: translateY(0px);
  }
}
[data-aos="cstm-fade-down"] {
  opacity: 0;
  transform: translateY(-20px);
  transition-property: opacity, transform;
  transition-duration: 0.8s;

  &.aos-animate {
    opacity: 1;
    transform: translateY(0px);
  }
}
